@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

html {
  scroll-behavior: smooth;
}